body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(23, 80, 87);
  color: black;
}

.modal-container {
  /*display: none; !* Hidden by default *!*/
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  border-radius: 5px;
}

.modal-container-disable-background {
  background-color: rgba(16, 37, 45, 0); /* Fallback color */
}

.modal-child {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 60%; /* Could be more or less, depending on screen size */
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 90%; /* Set a maximum height for the modal */
  overflow-y: auto; /* Enable vertical scroll within the modal */
}
.modal-header {
  background-color: rgba(0, 0, 0, 0.5);
  color: aliceblue;
  text-align: center;
  padding: 5px;
  border-radius: 5px 5px 0 0;
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.3);
  color: aliceblue;
  padding: 25px;
  border-radius: 0 0 5px 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  background-color: aliceblue;
  padding: 10px;
  color: #0E131F;
  font-size: 12pt;
  border: none;
  border-radius: 10px;
}

input {
  background-color: aliceblue;
  padding: 10px;
  color: #0E131F;
  font-size: 12pt;
  border: none;
  border-radius: 10px;
}

.full-width {
  width: 100%;
}